## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

.DS_Store

.RData
.Rhistory
_minted-sample/4D30AE1E35556E44CD0D747A1A7404FA36EAD8F2AD2EA57110595F250ECF0FBC.pygtex
_minted-sample/5D0962AE38F9F42D643B0FCDADE287436F9DE61A090A9ACD090C29AA55D90DEE.pygtex
_minted-sample/C09F896781E5D0D25502E3B9284B602C6F9DE61A090A9ACD090C29AA55D90DEE.pygtex
_minted-sample/E6E79D5C4AFFCD767163F321764A53D96F9DE61A090A9ACD090C29AA55D90DEE.pygtex
